@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/icomoon.eot?ch5bq4');
  src:  url('../font/icomoon/icomoon.eot?ch5bq4#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?ch5bq4') format('truetype'),
    url('../font/icomoon/icomoon.woff?ch5bq4') format('woff'),
    url('../font/icomoon/icomoon.svg?ch5bq4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon, .icon:before{
  color: var(--primary);
}

.icon-heat:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-gear:before {
  content: "\e905";
}
.icon-pallets:before {
  content: "\e906";
}
.icon-saw:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-stock:before {
  content: "\e909";
}
.icon-quality:before {
  content: "\e90a";
}
.icon-repair:before {
  content: "\e90b";
}
.icon-sign:before {
  content: "\e90c";
}
.icon-vk:before {
  content: "\e90d";
}
.icon-warehouse:before {
  content: "\e90e";
}
.icon-buyback:before {
  content: "\e90f";
}
.icon-custom-pallet:before {
  content: "\e910";
}
.icon-delivery:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-handshake:before {
  content: "\e913";
}
.icon-tg:before {
  content: "\e918";
}
.icon-ws:before {
  content: "\e919";
}
